table{
    width: 100%;
    line-height: 30px;
    border: 1px solid #1b1b11;
    margin-top: 30px;
    padding: 20px;
}
table tr td ,table tr table tr th{
    border: 1px solid #1b1b11;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    text-align: center;
}
.btn_edit , .btn_delete
{
    padding: 8px;
    border: 1px solid #1b1b11;
    border-radius: 5%;
    width: 45%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: aliceblue;
}
.row
{
    margin-top: 20px;
}
label{
    font-size: 25px;
}
